/.idea
/.vscode
/.DS_Store
/wp-content/.DS_Store
/wp-content/themes/.DS_Store
/wp-content/themes/ls_theme_defalut/.DS_Store
/wp-content/themes/ls_theme_defalut/.idea
/wp-content/themes/ls_theme_defalut/assets/.DS_Store